* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontInter: 'Inter', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}

h1 {
    width: 1em;
    position: absolute;
    left: -999em;
    overflow: hidden;
}