* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --font1: 'Poppins', sans-serif;
    --font2: 'Inter', sans-serif;
    --verde1: #045328;
    --branco: #fff;
}


.wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background: var(--verde1);
    height: 80px;

    display: flex;
    align-items: center;

}
main{
    padding: 30px 0; 
}

.div_headerPosition {

    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1120px;
}


.menu_barras {
    display: none;
}

.menu_barras svg {
    fill: var(--branco);
    height: 40px;
}


header nav a {
    font-family: var(--font1);
    color: var(--branco);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



.btn_entrar,
.btn_enviar {
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
}

.btn_entrar:hover,
.btn_enviar:hover {
    background-color: #EAF207;
    color: black;
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.separacao_conteudo {
    display: flex;

}

aside {
    width: 30%;
}

aside ul {
    list-style-type: none;

}

.linha2 {
    border-radius: 8px;
    margin-top: 5px;
    color: rgb(144, 72, 211);
    border: 2px solid rgb(133, 35, 224);
    width: 130px;
    background-color: rgb(197, 166, 226);

}

.menu_direito {
    width: 70%;
   
}


.link_menu_direito>a:nth-child(2) {
    color: rgb(170, 97, 238);
    border: 2px solid blueviolet;
    border-radius: 8px;
}

.link_menu_direito>a:nth-child(1) {
    border: 2px solid #9C9C9C;
    border-radius: 8px;
    color: #9C9C9C;
    padding: 0%;
    
}

.nada_consta {
    border: 3px solid #9C9C9C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 40px;

}

.nada_consta p {
    text-align: center;
    margin-top: 200px;
    color: #9C9C9C;
    font-size: 25px;
    margin-bottom: 30px;

}

.nada_consta img {
    width: 150px;
    height: 150px;

}

.botaoVoltar{
    /* width: 20px;
    height: 20px; 
    padding: 40px;
    
    color: blueviolet;
    border-radius: 8px;

     height: 80px;
    font-size: 20px;
    margin-top: 80px;

    margin: 30px;
    padding: 5px 35px; */
    border-color: blueviolet;
    border: 5px solid blueviolet;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    border-radius: 8px;
    padding: 2px 90px;
    margin-top:  20px;
    margin-bottom: 20px;
    text-transform: uppercase;
   
}


.menu_direito p {
    color: #9C9C9C;
  
    
}
.espaco_espaco{
    margin-bottom: 20px
    ;
}

footer {
    background: var(--verde1);
}

.div_footerPosition {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
    font-family: var(--font1);
    font-weight: bold;
}


.foot_contats img {
    margin-right: 15px;
}

.foot_contats div:nth-child(-n+2) {
    display: flex;
    margin-bottom: 20px;
}

.foot_menu {
    text-transform: uppercase;
    font-weight: 800;
}

.foot_menu a {
    color: var(--branco);
}


.foot_menu ul {
    list-style-type: none;
    padding-left: 20px;
}

.foot_midiasBoletim span {
    font-size: 24px;
    font-weight: 800;
}

.foot_botetim {
    display: flex;
    padding: 15px 0;
}

.foot_botetim input {
    font-family: var(font--2);
    font-size: 14px;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    padding: 4px 40px 4px 10px;
    margin-right: 15px;
}

::placeholder {
    opacity: 60%;
}

.foot_botetim a {
    color: var(--branco);
}

.btn_enviar {
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 35px;

}

.ico_sociais {
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ico_sociais img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}



/* ### Seção @Media ### */

@media screen and (max-width: 1250px) {
    .banner1 {
        height: 100%;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1072px) {
    .div_banner {
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .div_banner div {
        width: 100%;
        max-width: none;
        text-align: center;

    }

    .div_banner img {
        max-height: none;
        width: 100%;
        max-width: none;
        height: 50%;
        padding-bottom: 40px;
    }

    header {
        position: relative;
    }

    .div_headerPosition {
        display: flex;
        justify-content: space-between;
    }

    .menu_barras {
        display: flex;
    }
    
    #menu_links {
        display: none;
        flex-direction: column;

        position: absolute;
        align-items: center;

        left: 150;
        top: 80px;
        z-index: 1;

        width: 200px;
        background-color: var(--verde1);
        padding: 20px 0;
        


        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .div_footerPosition {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .div_footerPosition>div {
        padding: 30px 0;
    }


}

/* @media screen and (max-width: 1010px) {

   

} */

@media screen and (max-width: 812px) {
    .div_banner2 {
        flex-wrap: wrap;
    }

    .div_banner2 div {
        padding-bottom: 30px;
    }
}


@media screen and (max-width: 580px) {
    .div_banner img {
        max-height: 300px;
    }
}


@media screen and (max-width: 454px) {
    .div_banner img {
        display: none;
    }
}