*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --font1: 'Poppins', sans-serif;
    --font2: 'Inter', sans-serif;
    --verde1: #045328;
    --verde2: #1B8D73;
    --branco: #fff;
    --roxo: #9319CC;
    --cinza: #9c9c9c;
}


.wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background: var(--verde1);
    height: 80px;

    display: flex;
    align-items: center;

}

.div_headerPosition{

    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1120px;
}


.menu_barras{
    display: none;
}

.menu_barras svg{
    fill: var(--branco);
    height: 40px;
}


header nav a{
    font-family: var(--font1);
    color: var(--branco);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
.log_doador, .log_doador div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log_doador  a:nth-child(even){
    padding-left: 10px;
}

.log_doador p{
    padding: 0 7px 0 5px;
}




.btn_enviar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
}

.btn_enviar:hover{
    background-color: #EAF207;
    color: black;
}

h1{
    position:absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}


.conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}

aside ul{
    list-style-type: none;
    color: black;
}

/* ####### ESPAÇO ENTRE SEGUNDO E TERCEIRO LI ########## */
aside li:nth-child(2){
    padding: 1rem 0;
}



aside a{
    color: black;
    font-family: var(--font2);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 15px;   
}



/* ####### Estilização do Elemento selecionado no ASIDE ########## */

aside li:nth-child(2) a  {
    color:var(--roxo);
    font-weight: 900;
    border: 3px solid var(--roxo);
    border-radius: 10px;
    padding: 5px 15px;
    background: rgba(159, 47, 187, 0.30);
}

.menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



.title{
    padding-bottom: 40px;
}

.title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}





.links_pags{
    padding-bottom: 0.4rem;
}


.links_pags a{
    border-radius: 9px;
    border: 2px solid rgba(156, 156, 156, 0.80);  
    padding: 1px 7px;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--cinza);
}

.links_pags span{
    font-size: 22px;
    font-family: var(--font1);
    color: var(--cinza);
}


.links_pags a:nth-child(1){
    border: 2px solid var(--verde2);
    color: var(--verde2);
}




.historic_cards{
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

.btnVoltar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnVoltar > a{
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;

    /* &:active{
        transform: translateY(2px);
        &::before{
            animation: Press;
        }
    } */
}




.Conteudo_Cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5rem;
    margin-bottom: 100px;
}




.WrapperCard{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.cards{
    border: 1px solid rgba(156, 156, 156, 0.20);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 7px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
} 

.cards img{
    width: 100%;
}

.cards h4{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 9px 0;
}

.cards p{
    font-size: 12px;
}

.Descriocaocards{
    display: flex;
}

.Descriocaocards > div{
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 5px;
}

.card_Status{
    display: flex;
    justify-content: start; 
    align-items: center;
}

/* .card_Status svg{
    width: 10px;
    height: 10px;
} */

.circle_Status{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
}

.circle_Yellow{
    background: #F8BD00;
}

.circle_Orange{
    background: #ED7016;
}

.card_Status span{
    padding-left: 5px;
    font-weight: 600;
}

.iconesCards{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

footer{
	background: var(--verde1);
}

.div_footerPosition{
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--branco);
	font-family: var(--font1);
	font-weight: bold;
}


.foot_contats img{
	margin-right: 15px;
} 

.foot_contats div:nth-child(-n+2){
	display: flex;
	margin-bottom:20px;
}

.foot_menu{
	text-transform: uppercase;
	font-weight: 800;
}

.foot_menu a{
    color: var(--branco);
}


.foot_menu ul{
	list-style-type: none;
	padding-left: 20px;
}

.foot_midiasBoletim span{
	font-size: 24px;
	font-weight: 800;
}

.foot_botetim{
	display: flex;
	padding: 15px 0;
}

.foot_botetim input{
	font-family: var(font--2);
    font-size: 14px;
    border: 1px solid #f9f9f9;
	border-radius: 10px;
	padding: 4px 40px 4px 10px;
    margin-right: 15px;
}

::placeholder {
    opacity: 60%; 
  }

.foot_botetim a{
    color: var(--branco);
}

.btn_enviar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 35px;

    /* &:active{
        transform: translateY(2px);
        &::before{
            animation: Press;
        }
    } */    
}

.ico_sociais{
	max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ico_sociais img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
}



/* ### Seção @Media ### */


@media screen and (max-width: 1072px) {

    header{
        position: relative;
    }
    .div_headerPosition{
        display: flex;
        justify-content: space-between;
    }

    .menu_barras{
        display: flex;
    }

    #menu_links{
        display: none;
        flex-direction: column;

        position: absolute;
        align-items: center;

        right: 30px;
        top: 80px;
        z-index: 3;

        width: 200px;
        background-color: var(--verde1);
        padding: 5px 0 10px 0;


        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

	.underline{
		margin: 10px 0 5px 0;
	}

    aside a{
        font-size: 13px;
        padding: 0 10px;   
    }

    .conteudo_doacoes{

        column-gap: 1rem;
        grid-template-columns: minmax(210px,0.15fr) 1fr;
        /* padding: 60px 0; */
    }


    .title{
        padding-bottom: 30px;
    }
    
    .title h2{
        font-size: 1.6rem;
    }
    
    .title p{
        font-size: 0.8rem;
    }

    .links_pags a{
        font-size: 17px;
    }
    
    .links_pags span{
        font-size: 19px;
    }

    .btnVoltar > a{
        font-size: 15px;
    }

    .div_footerPosition{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .div_footerPosition>div{
        padding: 30px 0;
    }



    
}

/* @media screen and (max-width: 1010px) {

   

} */

@media screen and (max-width: 812px) {
    .div_banner2{
        flex-wrap: wrap;
    }

    .div_banner2 div{
        padding-bottom: 30px;
    }


    .Conteudo_Cards{
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }

    .links_pags a{
        font-size: 14px;
        padding: 1px 4px;
    }
    
    .wrapper{
        width: 95%;
    }

}


@media screen and (max-width: 580px) {


    .div_banner img{
        max-height: 300px;
    }

    .conteudo_doacoes{
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px,0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    aside{
        grid-column: 1/3;
        grid-row: 1/3;
        justify-self: center;
        text-align: center;
    }

    .menu_Direito{
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    .links_pags span{
        padding: 0 5px;
    }

    .title{
        padding-top: 25px;
        text-align: center;
    }

    .links_pags{
        display: flex;
        justify-content: center;
    }

    
}


@media screen and (max-width: 454px) {
    .div_banner img{
    display: none;    }
}





/* #########      KEYFRAMES    ##########            */


@keyframes Press{
    to{
        /* opacity: 0; */
        transform: scale(1.15,1.35);
    }
}