*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --font1: 'Poppins', sans-serif;
    --font2: 'Inter', sans-serif;
    --verde1: #045328;
    --branco: #fff;
}


.wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background: var(--verde1);
    height: 80px;

    display: flex;
    align-items: center;

}

.div_headerPosition{

    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1120px;
}


.menu_barras{
    display: none;
}

.menu_barras svg{
    fill: var(--branco);
    height: 40px;
}


header nav a{
    font-family: var(--font1);
    color: var(--branco);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  


.btn_entrar, .btn_enviar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
}

.btn_entrar:hover, .btn_enviar:hover{
    background-color: #EAF207;
    color: black;
}

h1{
    position:absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

section{
    width: 100%;
    /* height: calc(100vh - 380px); */
    height: 1000px;
    display: flex;
    align-items: center;
}
.container{
    display:flex;
    width: 75%;
    height: 90%;
    align-items: center;
    /* background-color: #9F2FBB; */
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 260px;
    height: 100%;
    margin-left: 100px;
    padding-top: 20px;
    /* background-color: aqua; */
}
aside>a{
    font-family: var(--font2);
    font-size: 18px;
    text-align: start;
    padding-left: 12px;

}
aside>a:nth-child(2){
    border: 2px solid #9319CC;
    background: rgba(159, 47, 187, 0.30);
    border-radius: 7px;
    margin: 10px 0;
    padding: 5px 0 5px 10px;
}
.conteudoPublicacoes{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
.headerPublicacoes{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}
.headerPublicacoes>h2{
    font-family: var(--font1);
    font-size: 25px;
}
.headerPublicacoes>p{
    font-family: var(--font2);
    font-size: 15px;
    color: #9C9C9C;
    margin-bottom: 50px;
}
.containerCard{
    width: 90%;
    height: 80%;
    border: 1px solid rgba(156, 156, 156, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #EAF207; */
    margin-bottom: 100px;
}
.card{
    display:flex;
    border: 1px solid #000;
    /* border-radius: 10px; */
    /* box-shadow: 4px 7px 4px 2px rgba(0, 0, 0, 0.25);  */
    width: 90%;
    height:320px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cardEsquerda{
    /* background-color: #9F2FBB; */
    width: 50%;
}
.cardEsquerda>h2{
    font-family: var(--font1);
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cardEsquerda>img{
    width: 95%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cardEsquerda>p{
    font-family: var(--font2);
    font-size: 18px;
    /* background-color: #045328; */
}
.cardDireita{
    width: 100%;
    margin-left: 20px;
    /* display: flex;
    justify-content: space-between; */
    /* background-color: #045328; */

}
.cardDireitaConteudo{
    /* background-color: purple; */
    width: 90%;
    height: 100%;
    font-family: var(--font2);
    font-size: 13px;

}
.cardDireitaConteudo>h2{
    font-family: var(--font1);
    font-size: 22px;
}    
.cardDireitaConteudo>p{
    padding: 3px 0;
}
.cardDireitaConteudo>div{
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: aqua; */
    width: fit-content;
    font-family: var(--font2);
    font-size: 13px;
    padding: 3px 0;
}
.cardDireitaConteudo>div>div{
    /* background-color: #045328; */
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: var(--font2);
    font-size: 13px;
    padding: 3px 0;
}





.cardBottom{
    /* background-color: #045328; */
    width: 90%;
}
.cardBottomPt1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: aqua; */
}
.cardBottomPt1>div:nth-child(1){
    /* background-color: #9F2FBB; */
    display: flex;
    flex-direction: column;
}
.cardBottomPt1>div:nth-child(1)>textarea{
    /* background-color: #9F2FBB; */
    width: 320px;
    height: 35px;
    border: 1px solid #9C9C9C;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    /* margin-right: 10px; */
    /* background-color: #EAF207; */
}
.cardBottomPt1>div:nth-child(2){
    /* background-color: #9F2FBB; */
    display: flex;
    flex-direction: column;
}
.cardBottomPt1>div:nth-child(2)>textarea{
    /* background-color: #9F2FBB; */
    width: 320px;
    height: 35px;
    border: 1px solid #9C9C9C;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    /* background-color: #9319CC; */
}
.cardBottomPt2{
    display: flex;
    flex-direction: column;  
}
.cardBottomPt2>textarea{
    /* background-color: #9319CC; */
    height: 200px;
    border: 1px solid #9C9C9C; 
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.containerCard>a{
    align-self: flex-end;
    border-radius:10px;
    border: 3px solid #9F2FBB; 
    padding: 5px 100px;
    text-transform: uppercase;
    font-family: var(--font2);
    font-size: 11px;
    font-weight: bold;
    color: #9F2FBB;
    margin-right: 50px;
    margin-top: 30px;
}



footer{
	background: var(--verde1);
}

.div_footerPosition{
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--branco);
	font-family: var(--font1);
	font-weight: bold;
}


.foot_contats img{
	margin-right: 15px;
} 

.foot_contats div:nth-child(-n+2){
	display: flex;
	margin-bottom:20px;
}

.foot_menu{
	text-transform: uppercase;
	font-weight: 800;
}

.foot_menu a{
    color: var(--branco);
}


.foot_menu ul{
	list-style-type: none;
	padding-left: 20px;
}

.foot_midiasBoletim span{
	font-size: 24px;
	font-weight: 800;
}

.foot_botetim{
	display: flex;
	padding: 15px 0;
}

.foot_botetim input{
	font-family: var(font--2);
    font-size: 14px;
    border: 1px solid #f9f9f9;
	border-radius: 10px;
	padding: 4px 40px 4px 10px;
    margin-right: 15px;
}

::placeholder {
    opacity: 60%; 
  }

.foot_botetim a{
    color: var(--branco);
}
.btn_enviar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 35px;
    
}

.ico_sociais{
	max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ico_sociais img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
}



/* ### Seção @Media ### */

@media screen and (max-width: 1250px) {
    .banner1{
        height: 100%;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1072px) {
    .div_banner{
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .div_banner div{
        width: 100%;
        max-width:  none;
        text-align: center;

    }

    .div_banner img{
        max-height: none;
        width: 100%;
        max-width: none;
        height: 50%;
        padding-bottom: 40px;
    }

    header{
        position: relative;
    }
    .div_headerPosition{
        display: flex;
        justify-content: space-between;
    }

    .menu_barras{
        display: flex;
    }

    #menu_links{
        display: none;
        flex-direction: column;

        position: absolute;
        align-items: center;

        right: 30px;
        top: 80px;
        z-index: 3;

        width: 200px;
        background-color: var(--verde1);
        padding: 5px 0 10px 0;


        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

	.underline{
		margin: 10px 0 5px 0;
	}

    .div_footerPosition{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .div_footerPosition>div{
        padding: 30px 0;
    }

    
}

/* @media screen and (max-width: 1010px) {

   

} */

@media screen and (max-width: 812px) {
    .div_banner2{
        flex-wrap: wrap;
    }

    .div_banner2 div{
        padding-bottom: 30px;
    }
}


@media screen and (max-width: 580px) {
    .div_banner img{
        max-height: 300px;
    }
}


@media screen and (max-width: 454px) {
    .div_banner img{
    display: none;    }
}